<%= form_for parent do |f| %>
  <%= @sub_element.medium_types.first %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= f.fields_for :field_groups do |builder| %>
        <%= render 'sub_elements/field_group_fields', f: builder, parent: @sub_element %>
      <% end %>
      <%= link_to_add_fields "Add Field", f, :field_groups, "sub_elements" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%#= f.fields_for :element_fields, @sub_element.element_fields.build do |builder| %>
        <%#= render 'sub_elements/element_field_fields', f: builder %>
      <%# end %>
      <%#= link_to_add_fields "Add Field", f, :element_fields, "sub_elements" %>
    </div>
  </div>
  <%= f.submit "Save" %>
<% end %>
