<p id="notice"><%= notice %></p>

<h1>Sub Element List</h1>
<% if @sub_elements.empty? %>
  <p><strong>No Sub Element</strong></p>
<% end %>

<h2>Export Sub Element</h2>
<p>
  Download:
  <%= link_to "CSV", sub_elements_path(format: "csv") %> |
  <%= link_to "Excel", sub_elements_path(format: "xls") %>
</p>

<h2>Import Sub Element</h2>
<%= form_tag import_sub_elements_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table id="sub_elements">
  <tr>
    <th>id</th>
    <th>sub_element</th>
  </tr>
  <% @sub_elements.each do |sub_element| %>
    <tr>
      <td><%= sub_element.id %></td>
      <td><%= sub_element.name %></td>
      <td><%= link_to 'show', sub_element_path(sub_element) %> | <%= link_to 'Edit', edit_sub_element_path(sub_element) %> | <%= link_to 'Delete', sub_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br>

<%= link_to 'New Subelement', new_sub_element_path %>
