<!DOCTYPE html>
<html>
  <head>
    <title>PolyDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Items", items_path %></li>
        <li><%= link_to "Medium Types", medium_types_path %></li>
        <li><%= link_to "Edition Types", edition_types_path %></li>
        <li><%= link_to "Subelements", sub_elements_path %></li>
        <li><%= link_to "Fields", element_fields_path %></li>
        <li><%= link_to "Field Values", field_values_path %></li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
